{% extends "layout.html" %}
{% block title %}Muuta kuvan tietoja{% endblock %}

{% block content %}
<img src="/photos/photo{{ valokuva_id }}.jpg" height="300">
<form action="/addinfo/{{ valokuva_id }}" method="POST">

    <datalist id="Kaikki henkilot">
        {% for nimi in kaikkiHenkilot %}
            <option value="{{ nimi[0] }}">
        {% endfor %}
    </datalist>
    <datalist id="Listan henkilot">
        {% for nimi in henkilot %}
            <option value="{{ nimi[0] }}">
        {% endfor %}
    </datalist>
    <datalist id="Kaikki avainsanat">
        {% for nimi in kaikkiAvainsanat %}
            <option value="{{ nimi[0] }}">
        {% endfor %}
    </datalist>
    <datalist id="Listan avainsanat">
        {% for nimi in avainsanat %}
            <option value="{{ nimi[0] }}">
        {% endfor %}
    </datalist>
    <datalist id="Kaikki paikat">
        {% for paikka in kaikkiPaikat %}
            <option value="{{ paikka[0] }}">
        {% endfor %}
    </datalist>
    <datalist id="oikeudet">
        {% for tunnus in oikeudet %}
            <option value="{{ tunnus[0] }}">
        {% endfor %}
    </datalist>
    <datalist id="kayttajat">
        {% for tunnus in kayttajat %}
            <option value="{{ tunnus[0] }}">
        {% endfor %}
    </datalist>


    <p><label for="kuvauspaiva">Päivämäärä</label>
        <input type="date" name="kuvauspaiva" value="{{ paivamaara }}"></p>

    <p><label for="aika"></label>Kellonaika</label>
        <input type="time" name="aika" value="{{ aika }}"></p>

    <p><label for="kuvaaja"></label>Kuvaaja</label>
        <input list="Kaikki henkilot" name="kuvaaja" value="{{ kuvaaja }}"></p>

    <p><label for="kuvaus"></label>Kuvaus</label>
        <input type="text" name="tekstikuvaus" value="{{ tekstikuvaus }}"></p>

    <p><label for="julkinen"></label>Julkinen</label>
        <input type="checkbox" {{ julkinen }} name="julkinen" value="true"></p>

    <p>Valokuvan henkilöt: {{ henkilostr }}<br>
        <input list="Kaikki henkilot" name="lisaaHenkilo">
        <input type="submit" value="Lisää henkilö"><br>
        <input list="Listan henkilot" name="poistaHenkilo">
        <input type="submit" value="Poista henkilö">
    </p>

    <p>Valokuvan avainsanat: {{ avainsanastr }}<br>
        <input list="Kaikki avainsanat" name="lisaaAvainsana">
        <input type="submit" value="Lisää avainsana"><br>
        <input list="Listan avainsanat" name="poistaAvainsana">
        <input type="submit" value="Poista avainsana">
    </p>

    <p>Valokuvan katseluoikeudet: {{ oikeudetstr }}<br>
        <input list="kayttajat" name="lisaaOikeus">
        <input type="submit" value="Lisää oikeus"><br>
        <input list="oikeudet" name="poistaOikeus">
        <input type="submit" value="Poista oikeus">
    </p>

    <p><label for="paikka"></label>Paikka</label>
        <input list="Kaikki paikat" name="paikka" value="{{ paikka }}"></p>
    
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="hidden" name="edellinenSivu" value="{{ edellinenSivu }}">

    <input type="submit" value="Talenna tiedot">

</form>


{% endblock %}