{% extends "layout.html" %}
{% block title %}Muuta kuvan henkilöitä{% endblock %}

{% block content %}

<img src="/photos/photo{{ photoid }}.jpg" height="300">

<table>
    {% for person in persons %}
    <tr>
        <td>
            {{ person[0] }}
        </td>
        <td>
            Poista
        </td>
    </tr>
    {% endfor %}
</table>

<form action="/addperson/{{ photoid }}" method="POST">
    <input list=Henkilot name=henkilo>
    <datalist id=Henkilot>
        {% for person in allpersons %}
            <option value="{{ person[0] }}">
        {% endfor %}
    </datalist>
    <input type=submit value=Lisää>
</form>

<form action="/addinfo/{{ photoid }}" method="GET">
    <input type=submit value=Valmis>
</form>

{% endblock %}