{% extends "layout.html" %}
{% block header %}Käyttäjähallinta{% endblock %}
{% block content %}

Käyttäjiä: {{ count }}
<table>
{% for user in users %}
<tr>
    <td>
        Käyttäjä: {{ user[1] }}
    </td>
    <td>
        Valokuvia: {{ user[2] }}
    </td>
    <td>
        <div class="buttonlink">
            <a href="/admin/removeuser/{{ user[0] }}">Poista käyttäjä</a>
        </div>
    </td>
    <td>
        <div class="buttonlink">
            <a href="/admin/resetpassword/{{ user[0] }}">Vaihda salasana</a><br>
        </div>
    </td>
</tr>
{% endfor %}
{% endblock %}