{% extends "layout.html" %}
{% block title %}Käyttöohje{% endblock %}
{% block content %}

<h3>Kirjautuminen ja rekisteröityminen</h3>
Rekisteröitymisessä voit luoda uuden tunnuksen. Rajoituksena se, että tunnus ei saa olla valmiiksi olemassa. Rekisteröitymisen jälkeen voit kirjautua luomallasi tunnuksella.

<h3>Kuvien lataaminen</h3>
<p>Palveluun voi ladata vain jpg muotoisia kuvia. Kuvia voi ladata yksittäin tai useampi kerralla.</p>
<p>Valitse ladattava kuvat tai kuvat painamalla selaa. Tämän jälkeen lisätä kuvan paikkatiedon ja valokuvaajan nimen. Nämä voi jättää myös tyhjäksi. Aiemmin syötetyt henkilöt ja paikat täydentyy automaattisesti. Voit myös kirjoittaa lomakkeeseen kokonaan uuden kuvaajan ja/tai paikan nimen. Jos olet valinnut useamman kuvan, tämä sama tieto liitetään kaikkiin kuviin.</p>
<p>Mikäli valitset yhden kuvan, palvelu siirtyy lataamisen jälkeen kuvan tietojen muokkaukseen. Mikäli valitsit useamman kuvan, palvelu siirtyy takaisin kuvien lataamiseen.
<p>Mikäli kuvassa on tieto kuvan ottamisen ajankohdasta, liitetään nämä tiedot automaattisesti tietokantaan.</p>

<h3>Kuvan tietojen muuttaminen</h3>
<p>Tässä ruudussa voi muokata kuvien tietoja. Kun olet valmis, paina ”Tallenna” painiketta.</p>
<p><b>Kuvaus: </b>Voit kirjoittaa tähän lyhyen kuvauksen valokuvasta.</p>
<p><b>Päivämäärä ja kellonaika: </b>Voit tähän syöttää/muuttaa päivämäärä tai kellonaikaa.</p>
<p><b>Paikka: </b>Tähän voit syöttää/muuttaa paikkatiedon. Aiemmin syötetyt paikkatiedot täydentyy automaattisesti. Voit myös kirjoittaa uuden paikannimen.</p>
<p><b>Kuvaaja: </b>Tähän syöttää/muuttaa valokuvaajan nimen. Aiemmin syötetyt henkilöt täydentyy automaattisesti. Voit myös kirjoittaa uuden nimen.</p>
<p><b>Julkinen: </b>Mikäli tämä on valittu, kuva on nähtävissä kaikille käyttäjille</p>

<p><b></b>Valokuvan henkilöt:</b>
<br>Tähän voit syöttää yhden tai useamman kuvassa esiintyvän henkilön. Voit lisätä henkilön syöttämällä nimen ruutuun. Aiemmin syötetyt henkilöt täydentyy automaattisesti. Voit myös syöttää uuden henkilön nimen. Tämän jälkeen paina ”Lisää henkilö”. Voit syöttää vain yhden henkilön kerrallaan.</p>

<p>Voit poistaa henkilön valitsemalla poistettavan henkilön valikosta ja painamalla ”Poista henkilö”.</p>

<p><b>Valokuvan avainsanat: </b>Tähän voit syöttää yhden tai useamman avainsanan. Toimii samalla periaatteella kuin henkilön lisääminen ja poistaminen.</p>

<p><b>Valokuvan katseluoikeudet: </b>Tähän voit antaa kuvan katseluoikeuksia yhdelle tai useammalle käyttäjälle. Toimii samalla periaatteella kuin henkilön lisääminen ja poistaminen.</p>

<h3>Omien kuvien selaaminen</h3>
<p>Näkymässä on lista omista kuvistasi. Painamalla ”Näytä kuva” kuva näkyy suurena. Pääset tästä takaisin painamalla selaimen edellinen painiketta. Näet tarkemmat paikan tiedot painamalla paikan nimeä.</p>
<p>Painamalla ”Muokkaa tietoja” pääset näkymään, jossa voit muokata kuvan tietoja. Kuvan voi poistaa painamalla ”Poista kuva”. Tämän jälkeen tulee vielä varmistus haluatko todella poistaa kuvan. Voit painaa tässä kohtaa selaimen edellinen painiketta, jos et halua poistaa kuvaa.</p>
<p>Näkymässä voit myös rajata listassa olevia valokuvia. Voit rajata kuvat alku ja/tai loppupäivämäärän mukaan. Voit myös rajata näkyviin kuvat vain tietystä paikasta, tietyllä avainsanalla ja tai kuvat jossa on tietty henkilö. Tehdyt rajaukset päivittyvät listaan, kun painat ”Päivitä” nappia. Tehdyt rajaukset poistuvat ”Reset” napista.</p>

<h3>Muiden kuvien selaaminen</h3>
<p>Toimii samalla periaatteella kuin omien kuvien selailu. Et voi kuitenkaan muuttaa kuvan tietoja tai poistaa kuvia.</p>

<h3>Paikkojen selaaminen ja tietojen muuttaminen</h3>
<p>Näkymässä voi selata käyttäjien lisäämiä paikkoja. Voit muokata tietoja painamalla paikan kohdalla ”Muokkaa tietoja”. Muokkausnäkymässä voit muuttaa tietoja. Paina lopuksi ”Tallenna tiedot”</p>

{% endblock %}