{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}

{% if session.username %}

<table>
<tr><td>
    <a href="/view">Katsele ja hallinnoi omia kuvia</a>
</td></tr>
<tr><td>
    <a href="/viewothers">Katsele muiden käyttäjien kuvia</a>
</td></tr>
<tr><td>
    <a href="/upload">Lataa lisää kuvia</a>
</td></tr>
<tr><td>
    <a href="/places">Hallinnoi paikkoja</a>
</td></tr>
</table>

<p></p>
{% else %}
<p>Kirjaudu sisään <a href="/login">tästä</a></p>
<p>Oletko uusi käyttäjä? Rekisteröidy <a href="/signup">tästä</a></p>
{% endif %}
{% endblock %}