{% extends "layout.html" %}
{% block content %}

{% if session.username %}

<table>
<tr><td>
    <a href="/view">Katsele ja hallinnoi omia kuvia</a>
</td></tr>
<tr><td>
    <a href="/viewothers">Katsele muiden käyttäjien kuvia</a>
</td></tr>
<tr><td>
    <a href="/upload">Lataa lisää kuvia</a>
</td></tr>
<tr><td>
    <a href="/places">Hallinnoi paikkoja</a>
</td></tr>
<tr><td>
    <a href="/help">Käyttöohje</a>
</td></tr>

{% if session.admin == true %}
<tr><td>
    <a href="/admin">Admin</a>
</td></tr>
{% endif %}

</table>

<p></p>
{% else %}
<div class="formblock" style="width: 30em">
    <form action="/login" method="POST">
        <b>Kirjaudu sisään:</b>
        <p>Tunnus:<br>
        <input type="text" name="username"></p>
        <p>Salasana:<br>
        <input type="password" name="password"></p>
        <input type="submit" value="Kirjaudu">
    </form>
</div>

<p>Oletko uusi käyttäjä? <a href="/signup">Rekisteröidy </a></p>
<p><a href="/viewothers">Katso julkisia kuvia</a></p>
{% endif %}
{% endblock %}