<!doctype html>
<html><head>
<title>Photos -sovellus</title>
<style>
    td {
      padding: 10px;
    }
</style>
</head>

<body>
<h1><center>Photos -sovellus</center></h1>

{% if session.username %}
<table>
<tr>
<td>Käyttäjä: {{ session.username }}</td>
<td><a href="/view">Omat kuvat</a></td>
<td><a href="/viewothers">Muiden kuvat</a></td>
<td><a href="/places">Paikat</a></td>
<td><a href="/upload">Lisää kuva</a></td>
<td><a href="/admin/resetpassword/{{ session.userid }}">Vaihda salasana</a></td>

{% if session.admin == true %}
<td><a href="/admin">Admin</a></td>
{% endif %}
<td><a href="/help">Ohje</a></td>

<td><a href="/logout">Kirjaudu ulos</a></td>
</tr>
</table>
{% endif %}
<hr>

<h2>{% block header %}{% endblock %}</h2>


{% block content %}{% endblock %}


</body>
</html>