<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
<title>Photos -sovellus</title>
</head>

<body>
  <div class="header">
    <h1>Photos -sovellus</h1>
    {% if session.username %}
    Käyttäjä: {{ session.username }}
    {% endif %}
  </div>  
  {% if session.username %}
  <nav>
      <ul>
        <li><a href="/view">Omat kuvat</a></li>
        <li><a href="/viewothers">Muiden kuvat</a></li>
        <li><a href="/places">Paikat</a></li>
        <li><a href="/upload">Lisää kuva</a></li>
        <li><a href="/admin/resetpassword/{{ session.userid }}">Vaihda salasana</a></li>

        {% if session.admin == true %}
        <li><a href="/admin">Admin</a></li>
        {% endif %}
        <li><a href="/help">Ohje</a></li>

        <li><a href="/logout">Kirjaudu ulos</a></li>
      </ul>
    </nav>
    {% endif %}

  <div class="content">
    <h2>{% block header %}{% endblock %}</h2>

    {% block content %}{% endblock %}

  </div>

</body>
