<!doctype html>
<html><head>
<title>Photos -sovellus</title>
<style>
    td {
      padding: 10px;
    }
</style>
</head>

<body>
<h1>Photos -sovellus</h1>
<h2>{% block title %}{% endblock %}</h2>

{% block content %}{% endblock %}
<br><hr>
{% if session.username %}

<table style="width:100%">
<tr>
<td style="width:20%">Kirjautunut: {{ session.username }}</td>
<td style="width:20%"><a href="/">Etusivu</a></td>
<td style="width:20%"><a href="/logout">Kirjaudu ulos</a></td>
<td style="width:40%"></td>
</tr>
</table>

{% else %}
<p>Kirjaudu sisään <a href="/login">tästä</a></p>
{% endif %}
</body>
</html>