{% extends "layout.html" %}
{% block title %}Katsele ja muuta paikan tietoja{% endblock %}

{% block content %}
{% if session.username %}

<h2>{{ paikka }}</h2>

<form action="/place/{{ paikkaid }}" method="POST">

    <p>Kaupunki:
        <input type="text" name="kaupunki" value="{{ kaupunki }}"></p>

    <p>Alue: 
        <input type="text" name="alue" value="{{ alue }}"></p>

    <p>Maa:
        <input type="text" name="maa" value="{{ maa }}"></p>
    
    <p>www-sivu:
        <input type="url" name="wwwsivu" value="{{ wwwsivu }}"></p>
        
    <input type="submit" value="Talenna tiedot">

</form>

{% endif %}


{% endblock %}