{% extends "layout.html" %}
{% block title %}Hallinnoi paikkoja{% endblock %}
{% block content %}

{% if session.username %}
<table>
{% for place in places %}
<tr>
    <td>
        <b>Paikka: {{ place[1] }} </b><br>
        Kaupunki: {{ place[4] }} <br>
    </td>
    <td>
        Maa: {{ place[2] }} <br>
        Alue: {{ place[3] }} <br>
    </td>
    <td>
        www-osoite: {{ place[5] }} <br>
        <a href="/place/{{ place[0] }}">Muokkaa tietoja</a> <br>
    </td>
</tr>
{% endfor %}
</table>

{% endif %}

{% endblock %}