{% extends "layout.html" %}
{% block header %}Poista käyttäjä{% endblock %}

{% block content %}

<p>id: {{ userdata[0] }}</p> 
<p>tunnus: {{ userdata[1] }}</p>

{% if userdata[3]==true %}
<p>Pääkäyttäjä</p> 
{% endif %}

<br><br>
Oletko varma että haluat poistaa tämän käyttäjän?
<form action="/admin/removeuser/{{ userdata[0] }}" method="POST">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
<input type="hidden" name="removeuser" value="{{ session.csrf_token }}">
<input type="submit" value="Kyllä">
</form>
<br>
<a href="/admin">Palaa takaisin</a>

{% endblock %}