{% extends "layout.html" %}
{% block header %}Poista kuva{% endblock %}

{% block content %}
<img src="/photos/photo{{ photo_id }}.jpg" height="300">
<br><br>
Oletko varma että haluat poistaa tämän kuvan?
<form action="/remove/{{ photo_id }}" method="POST">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
<input type="hidden" name="removephoto" value="{{ session.csrf_token }}">
<input type="submit" style="width: 5em" value="Kyllä">
</form>
<div class="buttonlink" style="width: 4em">
<a href="/view">Ei</a>
</div>
{% endblock %}