{% extends "layout.html" %}
{% block header %}Vaihda käyttäjän salasana{% endblock %}

{% block content %}

<p>tunnus: {{ userdata[1] }}</p>

{% if userdata[3]==true %}
<p>Pääkäyttäjä</p> 
{% endif %}

<br><br>
<form action="/admin/resetpassword/{{ userdata[0] }}" method="POST">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
Uusi salasana: <input type="password" name="newpassword">
<input type="submit" value="Vaihda">
</form>
<br>

{% if admin==true %}
<a href="/admin">Palaa takaisin</a>
{% endif %}

{% endblock %}