{% extends "layout.html" %}
{% block title %}Vaihda käyttäjän salasana{% endblock %}

{% block content %}

<p>id: {{ userdata[0] }}</p> 
<p>tunnus: {{ userdata[1] }}</p> 
<p>admin: {{ userdata[3] }}</p> 

<br><br>
<form action="/admin/resetpassword/{{ userdata[0] }}" method="POST">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
Uusi salasana: <input type="password" name="newpassword">
<input type="submit" value="Vaihda">
</form>
<br>
<a href="/admin">Palaa takaisin</a>

{% endblock %}