{% extends "layout.html" %}
{% block header %}Vaihda käyttäjän salasana{% endblock %}

{% block content %}

<div class="formblock" style="width: 30em">
<p><b>Tunnus:</b> {{ userdata[1] }}</p>

{% if userdata[3]==true %}
<p><b>Pääkäyttäjä</b></p> 
{% endif %}
<br>
<form action="/admin/resetpassword/{{ userdata[0] }}" method="POST">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
Uusi salasana: <input type="password" name="newpassword">
<input id="button" type="submit" value="Vaihda">
</form>
</div>

<br>

{% if admin==true %}
<div class="buttonlink">
<a href="/admin">Palaa takaisin</a>
</div>
{% endif %}

{% endblock %}