{% extends "layout.html" %}
{% block header %}Tallenna uusi kuva{% endblock %}

{% block content %}

{% if session.username %}

<form method=post enctype=multipart/form-data>
  <datalist id="All places">
    {% for place in allPlaces %}
        <option value="{{ place[0] }}">
    {% endfor %}
  </datalist>
  <datalist id="All persons">
    {% for person in allPersons %}
        <option value="{{ person[0] }}">
    {% endfor %}
  </datalist>

  <p><input type=file name=photo multiple></p>

  <p><label for="photographer"></label>Kuvaaja</label>
    <input list="All persons" name="photographer"></p>

    <p><label for="place"></label>Paikka</label>
      <input list="All places" name="place"></p>

  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
  <input type=submit value=Lataa>
</form>

{% if message %}
<p><b>{{ message }}</b></p>
{% endif %}
{% endif %}
{% endblock %}