{% extends "layout.html" %}
{% block title %}Muiden käyttäjien valokuvat{% endblock %}
{% block content %}

{% if session.username %}
<form action="/viewothers/{{ valokuva_id }}" method="POST">

    <datalist id="Kaikki henkilot">
        {% for nimi in kaikkiHenkilot %}
            <option value="{{ nimi[0] }}">
        {% endfor %}
    </datalist>
    <datalist id="Kaikki avainsanat">
        {% for nimi in kaikkiAvainsanat %}
            <option value="{{ nimi[0] }}">
        {% endfor %}
    </datalist>
    <datalist id="Kaikki paikat">
        {% for paikka in kaikkiPaikat %}
            <option value="{{ paikka[0] }}">
        {% endfor %}
    </datalist>
    <datalist id="kayttajat">
        {% for tunnus in kayttajat %}
            <option value="{{ tunnus[0] }}">
        {% endfor %}
    </datalist>

<table>
<tr>
    <td>
        Päivämäärä: 
        <input type="date" name="alku" value="{{ alku }}">-
        <input type="date" name="loppu" value="{{ loppu }}">
    </td>
    <td>
        Paikka:
        <input list="Kaikki paikat" name="paikka" value="{{ paikka }}">
    </td>
    <td>
        Henkilö:
        <input list="Kaikki henkilot" name="henkilo" value="{{ henkilo }}">
    </td>
    <td>
        Avainsana:
        <input list="Kaikki avainsanat" name="avainsana" value="{{ avainsana }}">
    </td>
    <td>
        Käyttäjä:
        <input list="kayttajat" name="kayttaja" value="{{ kayttaja }}">
    </td>
</tr>
</table>

<table>
{% for kuva in kuvat %}
<tr>
    <td>
        <img src="/photos/photo{{ kuva[0][0] }}_thmb.jpg">
    </td>
    <td>
        Päivämäärä: {{ kuva[0][1].strftime("%d.%m.%Y") }} <br>
        Paikka: <a href="/placeinfo/{{ kuva[0][4] }}">{{ kuva[0][3] }}</a><br>
        Kuvaus: {{ kuva[0][2] }} <br>
    </td>
    <td>
        Henkilöt: {{ kuva[1] }} <br>
        Avainsanat: {{ kuva[2] }} <br>
    </td>
    <td>
        Käyttäjä: {{ kuva[0][5] }} <br>
        <a href="/photos/photo{{ kuva[0][0] }}.jpg">Näytä kuva</a> <br>
    </td>
</tr>
{% endfor %}

</table>

{% endif %}
{% endblock %}