{% extends "layout.html" %}
{% block title %}Muiden käyttäjien valokuvat{% endblock %}
{% block content %}

{% if session.username %}

<table>
{% for kuva in kuvat %}
<tr>
    <td>
        <img src="/photos/photo{{ kuva[0][0] }}_thmb.jpg">
    </td>
    <td>
        Päivämäärä: {{ kuva[0][1].strftime("%d.%m.%Y") }} <br>
        Paikka: <a href="/place/{{ kuva[0][4] }}">{{ kuva[0][3] }}</a><br>
        Kuvaus: {{ kuva[0][2] }} <br>
    </td>
    <td>
        Henkilot: {{ kuva[1] }} <br>
        Avainsanat: {{ kuva[2] }} <br>
    </td>
    <td>
        Käyttäjä: {{ kuva[0][5] }} <br>
        <a href="/photos/photo{{ kuva[0][0] }}.jpg">Näytä kuva</a> <br>
    </td>
</tr>
{% endfor %}

</table>

{% endif %}
{% endblock %}